<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Art Gallery</title>
</head>
<body>
    
    <!DOCTYPE html>
<head>
    <style>  
        body  {  
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
            background-image:url("https://images.hdqwalls.com/wallpapers/misty-mountains-4k-hr.jpg");  
            background-color: black;
            /* height: 500px; */
            min-height: 100vh;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
        }  
        center{
            margin-top: 100px;
        }
        div
        {
            text-align: center;
            margin-top: 20px;
            color: navy;
            font-size: 20px;
        }
    </style>  
    <title>Art Gallery App</title>
</head>

<body>
    <%- include("./partials/navbar.ejs") %>
    <center>
    <h1 style="color:navy;">Welcome to Art Gallery App</h1>
    <h3 style="color:black;">Using Node-Express and PostgreSQL</h3>
    </center>

    <div>
        BY: Isha Shah & Krunal Chhagani 
    </div>

</body>
</html>
</body>
</html>